{% load static %}
{% load widget_tweaks %}
{% block modal_body %}
    <div class="modal-header">
        <h3 class="modal-title">Logowanie</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class='' action="" method="post">
        {% csrf_token %}
        <div class="modal-body text-center">
            <img class="mb-4" src="{% static "images/logo.svg" %}" alt="" width="72" height="72">
            <div class="form-signin {% if form.non_field_errors %}invalid{% endif %} mb-2">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                {% for field in form %}
                    {% render_field field class="form-control" placeholder=field.label %}
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <p class="text-muted"><a href="{% url 'register' %}">Nie masz konta? Zarejestruj się tutaj!</a></p>
            </div>
             <div class="modal-footer">
                <button class="newsletter_button trans_200" id="submit" type="submit"><span>Zaloguj</span></button>
                <button class="newsletter_button trans_200" data-dismiss="modal"><span>Anuluj</span></button>
             </div>ajax
        </div>
    </form>
{% endblock %}